<section class="exercise-container">
    <div class="image-container">
        <img src="{{url}}" alt="{{exercise-name}}">
    </div>
    <div class="caption-container">
        <button class="MyPlanButton" type="button"> Add {{exercise-name}} to My Plan</button>
        <h3 class="exerciseName">{{exercise-name}}</h3>
    </div>
</section>