<section class="exercise-container">
    <div class="image-container">
        <img src="{{url}}" alt="{{exercise-name}}">
    </div>
    <div class="caption-container">
        <h3 class="exerciseName">{{exercise-name}}</h3>
    </div>
</section>