<section class="exercise-container">
    <div class="image-container">
        <img src="{{url}}" alt="{{exercise-name}}">
    </div>
    <div class="caption-container">
        {{exercise-name}}
    </div>
</section>