<main class = "AboutUs-container">
    <h2 class = "pageTitle"> About Us</h2>
    <div id = "AboutUs-container-paragraph">
        <p>
            We are a small team of developers out of the Pacific Northwest. Our mission is to educate beginner health enthusiasts on their lifelong journey 
            of health and fitness. Our website aims to visualize helpful exercises to build strength and muscle mass. Our website takes the massive amounts of information
            online and delivers it in a simple, effective way for you to be able to implement it. We believe that through the power of movement one can 
            can achieve not only their physical goals but also their mental goals. Studies have shown exercise to be the best protocol to increase health and longevity. Exercise
            has even been shown to improve brain health as well. So, are you ready to get started on your health and fitness journey?
        </p>
    </div>
</main>