<main>
    <div class="planTitle-container">
        <h2 class="pageTitle">My Plan</h2>
        <p id="planInstructions">You will see your added exercises below</p>
    </div>
    <div class="exercises-container">
        {{#each exercises}}
            {{> exercise}}
        {{/each}}
    </div>
</main>