html{
    scroll-behavior: smooth;
}

#Title{
    text-align: center;
    padding-top: 50px;
	font-size: 50 px;
	text-align: center;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fempty-gym&psig=AOvVaw26DWcCH2kHTS3twN_zeBNI&ust=1702707169204000&source=images&cd=vfe&ved=0CBIQjRxqFwoTCJDi8dHkkIMDFQAAAAAdAAAAABAE);
}

.image {
    background-image: url(https://www.shutterstock.com/image-illustration/panorama-fitness-center-equipment-strength-260nw-1175972404.jpg);
    height: 200px;
}

.header {
	padding-top: 50px;
	color: rgb(173, 7, 7);
	font-size: 80px;
	text-align: center;
    
}



.navbar{    
    background-color: black;
   
    
}

.navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.navitem{
    float:left;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

  
li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

li a:hover{
    background-color: white;
}

.button{
    background-color: black; 
    border: 2px solid black;
    border-radius: 12px;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    flex-basis: auto;

    
}

.button:hover{
    background-color: white;
}

.button-container{
    display: grid;
    grid-template-columns: repeat(n, 1fr);
    gap: 10px;
}

.pageTitle{
    text-align: center;
    
}

p.select-instruction{
    text-align: center;
}

.bodyImage-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.image-container{
    width: 700px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.description{
    border: 2px solid red;
    border-radius: 5px;

}

p{
    text-align: center;
}

.MyPlanButton{
    background-color: black; 
    border: 2px solid black;
    border-radius: 12px;
    color: red;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    flex-basis: auto;
}

.MyPlanButton:hover{
    background-color: white;
}


